h2 {
    border-bottom: 0px solid var(--background-modifier-border);
    width: 100%;
    padding-bottom: 2px;
  }
  .is-live-preview .HyperMD-header-2 {
    border-bottom: 0px solid var(--background-modifier-border);
    width: 100%;
    padding-bottom: 2px;
  }
  